<% provide(:title, 'Sign up') %>
<div class="clear"></div>
<div id="wrapper_hello">
	<div id="support_m">
		<div id="sup_nav_title">Регистрация пользователя</div>
                <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
		<div id="sup_box_plus">
                    
			<div id="auth_input">
                            <%= f.text_field :name, placeholder: "Ваше имя", class: "inp_left", type:"text"%>
                            <%= f.text_field :surname, placeholder: "Фамилия", class: "inp_right", type:"text"%>
                        </div>
                            <div id="reg_input">
                                <%= f.text_field :email, placeholder: "E-mail", type:"email "%>
                            </div>
                            <div id="reg_input">
                                <%= f.text_field :password, placeholder: "Пароль", type:"password"%>
                            </div>
                            <div id="reg_input">
                                <%= f.text_field :password_confirmation, placeholder: "Еще раз пароль", type:"password"%>                                
                            </div>
                            <div id="reg_check">
                                <input type="checkbox" checked="">Я согласен с политикой конфиденциальности и обработки персональных данных.
                            </div>
		</div>
		<div id="sup_box">
			<div id="send_buttons">
			<ul>
				<li class="send_buttons">
                                    <a href="#">Зарегистрироваться</a>
                                    <%= f.submit "Зарегистрироваться!"%>
                                </li>
			</ul>
			</div>
		</div>
                <% end %>
	</div>
<div id="main_m">
                <div id="auth_u_description">Регистрация пользователя</div>
                <div id="main_box">
                        <p class="m_d_c">Откройте для себя мир интересных задач. Проект предлагает Вам реализовать себя и получить деньги за свой труд. Только проверенные компании.</p>
                        <p class="m_d_c"><a href="#">Узнать возможности</a></p>
                </div>
</div>
</div>


